<!DOCTYPE html>
<%- include('./parts/links.ejs') %>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="og:url" content="https://api.azury.live/" />
  <meta name="og:description" content="Oh uh, where did we go now? You should go back home">
  <meta name="og:image" content="https://images-ext-1.discordapp.net/external/_VZ92KnadY40J6nYJKt2cembEtKn2OSPYhxk8D1SuSI/%3Fsize%3D4096/https/cdn.discordapp.com/icons/895398888113049631/a_3bf8410ad153b3c964dadc0ecd8e9a82.gif?width=410&height=410" />
  <meta property="og:image:width" content="829"/>
  <meta property="og:image:height" content="415"/>
  <meta name="og:url" content="https://api.azury.live/" />
  <meta name="description" content="Oh uh, where did we go now? You should go back home">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Oh uh, where did we go now? You should go back home">
  <meta name="twitter:description" content="Oh uh, where did we go now? You should go back home"> 
  <title>Oops 404 Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://images-ext-1.discordapp.net/external/_VZ92KnadY40J6nYJKt2cembEtKn2OSPYhxk8D1SuSI/%3Fsize%3D4096/https/cdn.discordapp.com/icons/895398888113049631/a_3bf8410ad153b3c964dadc0ecd8e9a82.gif?width=410&height=410" rel="icon">
  <link href="https://images-ext-1.discordapp.net/external/_VZ92KnadY40J6nYJKt2cembEtKn2OSPYhxk8D1SuSI/%3Fsize%3D4096/https/cdn.discordapp.com/icons/895398888113049631/a_3bf8410ad153b3c964dadc0ecd8e9a82.gif?width=410&height=410" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">SevenFive</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Oops Kemanakah kita</h1>
          <h2>Kayaknya kamu salah link deh dan kamu seharusnya kembali ke halaman utama</h2>
              <div class="text-center">
        <a href="/" class="btn-get-started scrollto">Kembali Ke Halaman Utama</a>
      </div>
        </div>
      </div>

</body>
</html>